
body {
    margin: 0;
    background-color: gray;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editor {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 20px;

    border: dashed red;
}

#editor-images {
    margin: 10px;
    padding: 10px;

    border: solid dimgray;
}

.editor-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid black;
}

.editor-image-buttons {
    display: flex;
    justify-content: space-around;
}

canvas {
    image-rendering: pixelated;

    background-image: url('../resource/transparency.png');
    background-size: 20px 20px;
    background-attachment: fixed;
}


#info {
    text-align: center;
}