
body {
    margin: 0;
    background-color: gray;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editor {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    margin: 20px;

    border: dashed red;
}